body {
  font-family: 'Inter', sans-serif;
  background: #edf0f1;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
}

header {
  background-color: #3199dc;
}

.cabecalho {
  justify-content: space-between;
}

.menu-icon {
  margin: auto 0;
  height: 5%;
}

.apresentacao {
  display: flex;
}

.apresentacao p {
  margin: auto;
  font-size: 1.25em;
  color: #ffffff;
}

strong {
  font-weight: bold;
}

.redes-sociais {
  margin: auto 0;
}

.redes-sociais a {
  margin-left: auto;
}

.icon-rede-social {
  width: 20%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4%;
}

.icon-rede-social:nth-child(1) {
  margin-right: 10px;
}

/* slide */

.slide {
  align-items: center;
  position: relative;
}

.img-slide {
  margin-top: 60px;
  width: 112%;
}

.slide p {
  position: absolute;
  top: 440px;
  left: 30px;
  width: 25%;
  display: flex;
  padding: 5px;
  background: #3199dc;
  text-transform: uppercase;
  color: #ffffff;
}

.slide h3 {
  position: absolute;
  top: 480px;
  left: 30px;
  color: #ffffff;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: bold;
}

.setas {
  padding: 15px;
  background: #ffffff;
  border-radius: 60%;
  box-shadow: 1px 1px 1px #000000;
}

.seta-esq {
  position: absolute;
  top: 280px;
  left: -30px;
}

.seta-dir {
  position: absolute;
  top: 280px;
  left: 1250px;
}

/* área de noticias */
.area-noticias {
  margin-top: 80px;
}

.campo-titulo {
  flex-direction: column;
  margin-bottom: 25px;
}

.campo-titulo h4 {
  font-size: 1.5em;
}

.sequencia-noticias,
.espaco-noticia {
  flex-wrap: wrap;
  justify-content: space-between;
}

/* segunda área de noticias */
.espaco-noticia {
  width: 76%;
  display: flex;
}

.espaco-publicidade {
  width: 20%;
}

.espaco-noticia .noticia {
  margin-bottom: 30px;
}

.noticia img {
  width: 360px;
}

.noticia h6 {
  margin: 5px 0;
  text-transform: uppercase;
  color: #3199dc;
}

.noticia p {
  width: 75%;
  line-height: 1.5em;
}

/* ultima sessão */
.ultima-sessao {
  flex-direction: row;
}
.ultima-sessao h3 {
  font-size: 2em;
}

.primeira-sessao .titulo {
  color: #3199dc;
  margin-bottom: 20px;
}

.primeira-sessao .texto {
  font-size: 1.25em;
  line-height: 1.5em;
  width: 90%;
  padding: 15px 0;
  border-bottom: 1px solid #c0c0c0;
}

.noticia-e-imagem {
  display: flex;
  margin-bottom: 15px;
}

.noticia-e-imagem img {
  margin-right: 10px;
}

.segunda-sessao h3 {
  color: #e9695b;
  margin-bottom: 25px;
}

.terceira-sessao h3 {
  color: #e84c3a;
  margin-bottom: 25px;
}

.segunda-sessao h6 {
  color: #e9695b;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.terceira-sessao h6 {
  color: #e84c3a;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.segunda-sessao li p,
.terceira-sessao li p {
  width: 80%;
}
