body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
}

header {
  background-color: #3199dc;
}

.cabecalho {
  justify-content: space-between;
}

.menu-icon {
  margin: auto 0;
  height: 5%;
}

.apresentacao {
  display: flex;
}

.apresentacao p {
  margin: auto;
  font-size: 1.25em;
  color: #ffffff;
}

strong {
  font-weight: bold;
}

.redes-sociais {
  margin: auto 0;
}

.redes-sociais a {
  margin-left: auto;
}

.icon-rede-social {
  width: 20%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4%;
}

.icon-rede-social:nth-child(1) {
  margin-right: 10px;
}

/* slide */

.slide {
  align-items: center;
  position: relative;
}

.slide img {
  margin-top: 60px;
  width: 112%;
}

.slide p {
  position: absolute;
  top: 440px;
  left: 30px;
  width: 25%;
  display: flex;
  padding: 5px;
  background: #3199dc;
  text-transform: uppercase;
  color: #ffffff;
}

.slide h3 {
  position: absolute;
  top: 480px;
  left: 30px;
  color: #ffffff;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: bold;
}
